<?xml version="1.0" encoding="UTF-8" ?>
<service id="facebook-sharing">
    <type>sharing</type>
    <name>Facebook Sharing</name>
    <icon>extensions/icons/icon-l-facebook.png</icon>
    <provider>facebook</provider>

    <!-- Identical to the template in facebook.provider
         but the template section is not supported in
         .provider files until libaccounts-glib v1.4 -->
    <template>
        <group name="auth">
            <setting name="method">oauth2</setting>
            <setting name="mechanism">user_agent</setting>
            <group name="oauth2">
                <group name="user_agent">
                    <setting name="Host">www.facebook.com</setting>
                    <setting name="AuthPath">/dialog/oauth</setting>
                    <setting name="RedirectUri">https://www.facebook.com/connect/login_success.html</setting>
                    <setting name="Scope" type="as">["publish_stream","read_stream","status_update","user_photos","friends_photos","xmpp_login"]</setting>
<!--
                    The following must be provided by the application via:
                        serviceAccount.setConfigurationValue("auth/oauth2/user_agent/ClientId", client_id)
                        serviceAccount.setConfigurationValue("auth/oauth2/user_agent/ClientSecret", client_secret)
                    <setting name="ClientId">application_client_id</setting>
                    <setting name="ClientSecret">application_client_id</setting>
-->
                </group>
            </group>
        </group>
    </template>
</service>
