<?xml version="1.0" encoding="UTF-8" ?>
<service id="flickr-microblog">
    <type>microblogging</type>
    <name>Flickr Microblog</name>
    <icon>extensions/icons/icon-l-flickr.png</icon>
    <provider>flickr</provider>

    <!-- Identical to the template in flickr.provider
         but the template section is not supported in
         .provider files until libaccounts-glib v1.4 -->
    <template>
        <group name="auth">
            <setting name="method">oauth2</setting>
            <setting name="mechanism">HMAC-SHA1</setting>
            <group name="oauth2">
                <group name="HMAC-SHA1">
                    <setting name="RequestEndpoint">https://secure.flickr.com/services/oauth/request_token</setting>
                    <setting name="TokenEndpoint">https://secure.flickr.com/services/oauth/access_token</setting>
                    <setting name="AuthorizationEndpoint">https://secure.flickr.com/services/oauth/authorize</setting>
                    <setting name="AllowedSchemes" type="as">["https","http"]</setting>
<!--
                    We use the facebook redirect_uri as it exists, and works.
                    QML WebView doesn't update its url property if the redirect url
                    fails to resolve or load, and thus we can't examine changes to
                    it to determine if oauth2 was successful, if the redirect url
                    doesn't actually work (in jolla-signon-ui).
-->
                    <setting name="Callback">https://www.facebook.com/connect/login_success.html</setting>
<!--
                    The following must be provided by the application via:
                        serviceAccount.setConfigurationValue("auth/oauth2/HMAC-SHA1/ConsumerKey", consumer_key)
                        serviceAccount.setConfigurationValue("auth/oauth2/HMAC-SHA1/ConsumerSecret", consumer_secret)
                    <setting name="ConsumerKey">application_consumer_key</setting>
                    <setting name="ConsumerSecret">application_consumer_secret</setting>
-->
                </group>
            </group>
        </group>
    </template>
</service>
