<?xml version="1.0" encoding="UTF-8"?>
<service id="google-gmail">
    <type>e-mail</type>
    <name>GMail</name>
    <provider>google</provider>
    <icon>extensions/icons/icon-l-gmail.png</icon>

    <template>
        <group name="auth">
            <setting name="method">oauth2</setting>
            <setting name="mechanism">web_server</setting>
            <group name="oauth2">
                <group name="web_server">
                    <setting name="Host">accounts.google.com</setting>
                    <setting name="AuthPath">o/oauth2/auth</setting>
                    <setting name="TokenPath">o/oauth2/token</setting>
                    <setting name="RedirectUri">urn:ietf:wg:oauth:2.0:oob</setting>
                    <setting name="ResponseType">code</setting>
                    <setting name="Scope">https://mail.google.com/mail/</setting>
                    <setting name="AllowedSchemes" type="as">["https"]</setting>
<!--
                    The following must be provided by the application via:
                        serviceAccount.setConfigurationValue("auth/oauth2/user_agent/ClientId", client_id)
                        serviceAccount.setConfigurationValue("auth/oauth2/user_agent/ClientSecret", client_secret)
                    <setting name="ClientId">application_client_id</setting>
                    <setting name="ClientSecret">application_client_secret</setting>
-->
                </group>
            </group>
        </group>
    </template>
</service>
