<?xml version="1.0" encoding="UTF-8" ?>
<service id="picasa">
    <type>sharing</type>
    <name>Picasa</name>
    <icon>extensions/icons/icon-l-picasa.png</icon>
    <provider>google</provider>

    <template>
        <group name="auth">
            <setting name="method">oauth2</setting>
            <setting name="mechanism">user_agent</setting>
            <group name="oauth2">
                <group name="user_agent">
                    <setting name="Host">accounts.google.com</setting>
                    <setting name="AuthPath">o/oauth2/auth</setting>
                    <setting name="TokenPath">o/oauth2/token</setting>
                    <setting name="RedirectUri">accounts.google.com</setting>
                    <setting name="ResponseType">token</setting>
                    <setting name="Scope">"https://picasaweb.google.com/data/"</setting>
                    <setting name="AllowedSchemes" type="as">["https","http"]</setting>
<!--
                    The following must be provided by the application via:
                        serviceAccount.setConfigurationValue("auth/oauth2/user_agent/ClientId", client_id)
                        serviceAccount.setConfigurationValue("auth/oauth2/user_agent/ClientSecret", client_secret)
                    <setting name="ClientId">application_client_id</setting>
                    <setting name="ClientSecret">application_client_id</setting>
-->
                </group>
            </group>
        </group>
    </template>
</service>
