# SPDX-FileCopyrightText: 2020 - 2024 Jolla Ltd.
# SPDX-FileCopyrightText: 2025 Jolla Mobile Ltd
#
# SPDX-License-Identifier: BSD-3-Clause

*.so
*.so.*
installroot/
RPMS/
.qmake.cache
moc_*.cpp
*.moc
*.pro.*
*.o
*~
Makefile
*.ts
*.qm
documentation.list
